*{
	margin: 0;
	padding: 0;
}

:root{
--bg-color: #2A2A2A;
}

body{
	font-family: 'Nunito', sans-serif;
	background-color: var(--bg-color);
}

header{
	height: 5rem;
	background-color: #00B2FF;
	text-align: center;
}

h1{
	font-size: 3rem;
	font-weight: bold;
	color: var(--bg-color);
	padding-top: 10px;
}

img{
	max-width: 510px;
	max-height: 340px;
	width: 65%;
	min-height: 220px;
	min-width: 360px;
	border-radius: 6px 6px 0 0;
	margin-top: 18px;
	margin-bottom: 0;
	border: 1px solid #00B2FF;
}

h4{
	text-transform: uppercase;
	border-radius: 0 0 6px 6px;
	max-width: 510px;
	width: 65%;
	min-width: 360px;
	margin: 0 auto 15px auto;
	padding: 5px 0;
	color: var(--bg-color);
	background-color: #00B2FF;
	border: 1px solid #00B2FF;
}

#container{
	text-align: center;
	margin-top: 15px;
}

#span1, #span2, #span3, #span4, #span5, #span6{
	height: 20px;
	width: 20px;
	padding: 4px;
	background-color: #00B2FF;
	border-radius: 2px;
	margin: 5px;
	display: inline-block;
	color: var(--bg-color);
}

#container button{
	background-color: var(--bg-color);
	border: 1px solid #00B2FF;
	text-transform: uppercase;
	padding: 4px 8px;
	font-weight: bold;
	margin: 5px;
	width: 160px;
	color: #00B2FF;
	font-family: 'Nunito', sans-serif;
}

#container button:nth-child(3n){
	border-radius: 5px 0 0 5px;
}

#container button:last-child{
	border-radius: 0 5px 5px 0;
}

#container button:hover{
	background-color: #00B2FF;
	color: var(--bg-color);
}

#end{
	font-weight: bold;
	color: #00B2FF;
	padding-top: 10px;
	margin-top: 125px;
}