*{
	margin: 0;
	padding: 0;
}

body{
	font-family: "Trebuchet MS", Arial, Sans-serif;
}

header{
	height: 5rem;
	background-color: #00B2FF;
	text-align: center;
}

h1{
	font-weight: bold;
	color: #fff;
	padding-top: 10px;
}

img{
	height: 260px;
	width: 390px;
	box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.7);
	border-radius: 3px;
	margin-top: 42px;
}

#container{
	text-align: center;
	margin-top: 15px;
}